:global(.divider),
:global(.divider--container),
:global(.divider--full) {
  border: 0;
  border-top: 1px solid var(--color-silver-40);
  margin: 0;
  width: 100%;
}

:global(.divider--container) {
  grid-column: container;
}

:global(.divider--full) {
  grid-column: full;
}
