.figure {
  grid-row-gap: 16px;
  margin: 0;
}

.figureImage {
  display: block;
  grid-column: full;
  width: 100%;
}

@media (min-width: 768px) {
  .figureImage {
    grid-column: 1 / -1;
  }
}

.figureCaption {
  font-size: 12px;
  grid-column: container;
  line-height: 20px;
}

@media (min-width: 768px) {
  .figureCaption {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {
  .figureCaption {
    grid-column: 3 / -1;
  }
}
